
@{
    ViewBag.Title = "PorosiaSukses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Porosia u be me sukses, lu lutem klikoni @Html.ActionLink("Ketu","Index","Home") per te shkuar ne faqen kryesore!</h2>

