@{
                /**/

                ViewBag.Title = "About";
}
<div class="collection_text">Collection</div>
<div class="layout_padding collection_section">
    <div class="container">
        <h1 class="new_text"><strong>Rreth Nesh</strong></h1>
        <p class="consectetur_text"> Ne jemi kompania e parë e shitjeve online në Shqipëri. Të krijuar në nëntor të 2011-ës, 
        si pjesë e kompanisë Sport Albania sh.p.k.
        Tashmë mbas 9 vjetësh eksperiencë vendosëm të kalojmë tregëtinë online në një tjetër dimension. 
        Të gatshëm t’ju shërbejmë kudo që të ndodheni brenda pak orëve dhe njëkohësisht të sigurojmë çmimet më të lira për pothuajse gjithçka të nevojshme për ju.</p>
        <div class="collection_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <button class="new_bt">New</button>
                        <div class="shoes-img"><img src="~/Content/images/shoes-img1.png"></div>
                        <p class="sport_text">Men Sports</p>
                        <div class="dolar_text">$<strong style="color: #f12a47;">90</strong> </div>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="seemore_bt">See More</button>
                </div>
                <div class="col-md-6">
                    <div class="about-img2">
                        <div class="shoes-img2"><img src="~/Content/images/shoes-img2.png"></div>
                        <p class="sport_text">Men Sports</p>
                        <div class="dolar_text">$<strong style="color: #f12a47;">90</strong> </div>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new collection section end -->
